# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Java Programming\GeekBrains\Факультет Java Разработки\Java Уровень 2\Домашняя работа\Lesson_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
